.div-whole-drop {
  padding: 50px 0px;
}
.view-more {
  border: solid 1px #6d31ed;
  color: #6d31ed;
  width: 6rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}
.div-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center--car {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.img-car {
   height: 22rem;
}
