.bg-div-sell {
  background-image: url("../../images/Rectangle\ 361.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding:80px 0px;
}
.create-btn {
  background-color: #11111e;
  width: 6rem;
  color: white;
  text-align: center;
  padding: 0.4rem;
  border-radius: 5rem;
}
.sell-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sell-text {
  font-size: 3.5rem;
  color: #11111e;
}
.sell-subtext {
  font-size: 1.2rem;
  color: #11111e;
}
