.div-big-tag{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.tag-btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #6D31ED;
    background-color: #6D31ED;
    gap: .5rem;
    margin-top: 2rem;
  }
  .box-count{
    border: solid 1px  #4a4e54;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .upper-box{
    background-color: #FAFAFB;
    color: #323743;
    padding: 1rem;
    font-weight: 500;
  }
  .bottom-box{
    background-color: transparent;
    padding: 1rem;
    font-weight: 500;
  }