.detail-div-whole {
  padding: 30px 0px;
}
.col-center-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 24.25rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
.pro-btn {
  background-color: #20e9ff;
  width: 24.25rem;
  padding: 0.5rem;
  text-align: center;
  color: #11111e;
  border-radius: 5rem;
  font-weight: 500;
}
.price-div {
  display: flex;
  align-items: center;
}
.step-div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 2rem;
  margin-bottom: 4rem;
 
}
.step-width{
    width: 30rem !important; 
}
.ant-steps-item-process .ant-steps-item-icon {
  background-color: #20e9ff !important;
}
.ant-steps-item-title {
  color: #20e9ff !important;
}

@media (max-width: 1024px) {
  .div-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 20rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }
  .pro-btn {
    background-color: #20e9ff;
    width: 20rem;
    padding: 0.5rem;
    text-align: center;
    color: #11111e;
    border-radius: 5rem;
    font-weight: 500;
  }
}
