.div-whole-part{
    background-color: #F8F9FA;
    padding: 80px 0px;
}
.center-card-brow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}